:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to left, #239bca, #06061a);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #372563;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Card Styles */
.card{
  background: linear-gradient(to top, #239bca, #06061a);
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  padding: 1.5em;
  margin: 1em;
  text-align: center;
  max-width: 25em;  
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card .card-image {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #1a1a1a;
}
.card .title-class {
  font-size: 1.5em;
  margin: 0.5em 0;
}
.card .card-text {
  font-size: 1em;
  margin: 0.5em 0;
}
/* Projects Styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}
.project-title {
  border-top: 2px solid #1a1a1a;
  border-radius: 8px;
  padding: 0.5em 1em;
  box-shadow: #06061a 0 0 10px;
  font-size: 1em;
  margin: 1em 0;
}
.project-card{
  align-items: center;
  background: linear-gradient(to top, #239bca, #06061a);
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  padding: 1.5em;
  margin: 1em;
  text-align: center;
  max-width: 25em;  
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Contact Styles */

/* About Styles */

/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
  text-align: center;
  background: linear-gradient(to top, #239bca, #06061a);
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #06061a;
  }
  a:hover {
    cursor: pointer;
    color: #646cff;
  }
  button {
    background-color: #1a1a1a;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    cursor: pointer;
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
